{
	"svelteSortOrder": "scripts-markup-styles",
	"svelteStrictMode": false,
	"svelteBracketNewLine": false,
	"svelteAllowShorthand": false,
	"trailingComma": "es5",
	"arrowParens": "avoid",
	"endOfLine": "lf",
	"tabWidth": 4,
	"useTabs": true,
	"semi": true,
	"singleQuote": true,
	"printWidth": 100
}
